#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6
                &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y
                &kp A    &kp S    &kp D    &kp F    &kp G    &kp H
                         &kp X    &kp C    &kp V    &kp B
            >;
        };
    };
 };